

body{
    font-family: 'Space Grotesk', sans-serif;
}

.text-small{
    font-size:0.7em;
}

.navbar-logo {
    max-width: 250px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0 15px ;
}

.navMobileIcon{
    max-width:40px;
}

.navOption {
		color: #000000;
		text-decoration:none;
}

.navOption:hover {
		color: #878787;
		text-decoration:none;
}

.navOptionMobile {
    width:20%;
    border: solid 1px #d4d4d4;
    border-collapse: collapse;
}

.navOptionMobile:hover {
    background-color:white;
}

.searchbar {
    display: inline;
}

.places{
    background-color: #f8f8f8;
}

.second-nav {
    font-weight: 700;
}


.places button{
    color:white;
    cursor: pointer;
}

footer{
    background-color:#EEEEEE;
}

.navbar-collapse{
    flex-direction: row-reverse;
  
}


.breadcrumb {
    background-color: white;
}

.line-small {
    width: 128px;
}

.login {
    font-weight: 700;
}

.gallery {
    max-width: 100vw;
}

.line-items{
    padding: 0.5rem 5rem 2rem 5rem;
    justify-content: space-between;
}

.card-comochegar{
    width: 100%;
    margin-right: 0;
}

.locais-title{
    width:fit-content
}

.img-small{
    max-width: 40px;
}

.img-footer{
    max-width: 50px;
}

.card-ticket{
    flex-shrink: 0;
    flex-grow:0 ;
    margin-right:2rem;
    width:300px
}
.mapDiv{
    width: 90%;
    margin: 0 auto;
}

.body-img{
    max-width: 500px;
    margin: 10px 20px;
    float: right;    
}

.size-80percent{
    max-width:80%;
}

.form-input{
    width:100%;
    margin-bottom: 15px;
}


.img-rating{
    max-width: 90px;
    max-height: 90px ;
    display: inline;
}

.indicated-for{
    font-size:0.8rem;
}

.name-rating{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.text-rating{
    width:60%;
    display: inline;
    margin-left: 1rem;
}

.indicated-text{
    font-size:0.9rem
}

.rating-desc{
    display: flex;
    justify-content: space-around;
}


.link-section{
	color:black;
}

.card-locais{
    flex-shrink: 0;
    max-width: 300px;
    margin-right: 3rem;
}
.icon {
    width:15px;
}

.icon-md {
    max-width: 30px;
    max-height:30px;
    width: auto;
    height: auto;
}

.icon-lg {
    max-width:55px;
    max-height:55px;
    width: auto;
    height: auto;
}



.locais-title{
    width:fit-content
}

.divisor{
    height: 0.5rem;
    width:50%;
}

.yellowClr{
    color:#FFD600;
}

.border-rounded-pink{
    border-color: #cf0567;
    border-radius: 5px;
}


.btn {
    border: none;
   
}

.dicas{
	background-color:white;
    color:black;
    font-weight:500;
    text-align: left;
}

.dicas:hover{
	background-color: #016f45;
    color:;
    font-weight:500;
    text-align: left;
}

.col{display: inline-block;}

#rateMe{
    text-align: center;
    margin-bottom:1rem;
}
.rounded{
    border-radius:1rem!important
}

.locals-card{
	width:250px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
    margin-left: 1.5rem;
    flex-shrink: 0;
}


.Card-rate{
    height: 100%;
}

.card-title{
    text-align: center;
}
.card-img-top{
    height:auto;
}

.flex-rate{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.textarea{
    min-width:200px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 1rem;
    padding:1rem;
}

textarea{
    width: 100%;
    max-height: 200px;
    min-height: 100px;
}

.button-area{

    flex-grow: 1;
    padding:1rem;
    flex-shrink: 1;
    margin-left: 1rem;
}

.yellowBtn{
    background-color: #FFD600;
    color:black;
    width: 100%;
    top:100%
}

.scrolling-wrapper{
	overflow-x: auto;
}




@media only screen and (max-width: 980px) {
    .line-bottom {
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }
  


	.line-items{
    	padding: 0.5rem 5rem 2rem 1rem;
    	justify-content:inherit;
	}

    
}


@media only screen and (max-width: 768px) {
	
    .body-img{

    }


	}

    

  

  html, body{
      max-width: 100vw;
  }

 